<h2>Proyectos Lista</h2>

<div class="mt-4">
    <table class="table table-bordered table-dark table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Proyecto</th>
                <th *ngIf="auth.nombre == 'Misael'">Activo</th>
                <th *ngIf="auth.nombre == 'Misael'" class="text-center">Administrar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proyecto of proyectos">
                <td>{{proyecto.id}}</td>
                <td>{{proyecto.nombre}}</td>
                <td *ngIf="auth.nombre == 'Misael'">{{proyecto.activo}}</td>
                <div class="text-center" *ngIf="auth.nombre == 'Misael'">
                    <button type="button" class="btn btn-danger" (click)="eliminar(proyecto.id)">Eliminar</button>
                    <button type="button" class="btn btn-warning" [routerLink]="['/home/editarproyecto', proyecto.id]">Editar</button>
                    <div class="form-check form-switch">
                        <input 
                        class="form-check-input" 
                        type="checkbox" 
                        role="switch" 
                        id="flexSwitchCheckDefault"
                        [(ngModel)]="proyecto.activo"
                        name="usuario">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                      </div>  
                </div>
                
            </tr>
            
        </tbody>
    </table>
    
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="button" 
                    routerLink="/home/agregarproyecto" 
                    *ngIf="auth.nombre == 'Misael'"                             
                    >
            Agregar nuevo proyecto
            </button>
            
        </div>
    </div>
</div>


